.todo_main {
    width: 40%;
    margin: 0px auto;
    background-color: #4fd1c5;
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 6px 0 rgb(134 134 134 / 50%);
    min-height: 140px;
}
.todo_text {
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 26px;
    text-align: center;
}
.input_add > input {
    border: 0px;
    width: calc(100% - 50px);
    border-bottom: 1px solid #fff;
    background-color: unset;
    outline: none;
    color: white;
    padding: 0px 0px 6px 0px;
    font-size: 14px;
}
.input_add > input::placeholder{
    color: white;
}
.add_btn {
    background-color: #bf6e6e;
    font-size: 31px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    top: calc(0px - 18px);
    right: 0;
}

.added_items{
    justify-content: space-between;
    background-color: #191933;
    border-radius: 4px;
    margin-bottom: 12px;
    padding: 10px 10px;
    align-items: center;
}
.all_todo {
    margin-top: 12px;
    max-height: 400px;
    overflow-y: auto;
}
.all_todo::-webkit-scrollbar{
    display: none;
}
.added_items:last-child {
    margin-bottom: 0px;
}
.remove_item {
    margin-left: 10px;
}
.marked_done{
    background-color: #989898;
}
.marked_done .task_name{    
    text-decoration: line-through;
}
.eye_mark:hover .lin_eye, .marked_done .lin_eye{
    position: absolute;
    width: 100%;
    background-color: red;
    height: 3px;
    transform: rotate(135deg);
    top: 10px;
}
.marked_done .eye_mark > svg{
    fill: #d8d5d5;
}
.clear_items {
    width: max-content;
    margin: auto;
    background-color: red;
    padding: 10px 10px;
    border-radius: 6px;
    margin-top: 30px;
}

@media (max-width: 750px){
    .todo_main{width: calc(100% - 56px);}
}