.todo_main {
    width: 40%;
    margin: 0px auto;
    background-color: #4fd1c5;
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 6px 0 rgb(134 134 134 / 50%);
    min-height: 140px;
}
.todo_text {
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 26px;
    text-align: center;
}
.input_add > input {
    border: 0px;
    width: calc(100% - 50px);
    border-bottom: 1px solid #fff;
    background-color: unset;
    outline: none;
    color: white;
    padding: 0px 0px 6px 0px;
    font-size: 16px;
}
.input_add > input::placeholder{
    color: white;
}
.add_btn {
    background-color: #a77676;
    font-size: 31px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    top: calc(0px - 18px);
    right: 0;
}
.active_cta{
    background-color: #e86969;
}

.added_items{
    justify-content: space-between;
    background-color: #191933;
    border-radius: 4px;
    margin-bottom: 12px;
    padding: 12px 10px;
    align-items: center;
    order: reverse;
}
.all_todo {
    margin-top: 22px;
    max-height: 400px;
    overflow-y: auto;
}
.all_todo::-webkit-scrollbar{
    display: none;
}
.added_items:last-child {
    margin-bottom: 0px;
}
.right_icons{
    align-items: center;
}
.marked_done{
    background-color: #989898;
}
.task_name{
    outline: none;
}
.marked_done .task_name{    
    text-decoration: line-through;
}
.eye_mark{margin:0px  16px;}
.eye_mark:hover .lin_eye, .marked_done .lin_eye{
    position: absolute;
    width: 100%;
    background-color: red;
    height: 3px;
    transform: rotate(135deg);
    top: 10px;
}
.marked_done .eye_mark > svg{
    fill: #d8d5d5;
}
.marked_done .edit_icon{pointer-events: none;}
.marked_done .edit_icon > svg{fill: #d8d5d5;}
.quick_edit{
    position: fixed;
    z-index: 99999;
    left: 0;
    width: 100%;
    top: 0;
    height: 100%;
    background: #0009;
}
.text_save {
    position: absolute;
    /* top: 50%; */
    left: 50%;
    transform: translate(-50%, -50%);
}
.cross_sign{
    position: absolute;
    right: 50px;
    top: 50px;
}
.text_save > textarea {
    resize: none;
    padding: 10px 5px;
    height: 60px;
    width: 296px;
    border-radius: 6px;
    outline: none;
}
.save_btn {
    width: max-content;
    background-color: #026aa7;
    padding: 8px 18px;
    position: relative;
    left: 4px;
    top: 4px;
    border-radius: 4px;
}
.clear_items {
    width: max-content;
    /* margin: auto; */
    background-color: red;
    padding: 10px 10px;
    border-radius: 6px;
    /* /* margin-top: 30px; */
}

.pending_task {
    text-align: center;
    /* padding-top: 28px; */
    color: red;
    font-size: 20px;
}
.cta_action{
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;
}

@media (max-width: 750px){
    .todo_main{width: calc(100% - 40px);padding: 10px 10px;}
    .pending_task{font-size: 16px;}
    .eye_mark:hover .lin_eye{
        display: none;
    }
}