.boxes {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #968c8c;
    color: white;
    margin: 0px 10px;
    border-radius: 9px;
}
.boxes_main {
    display: flex;
    justify-content: center;
}
.active_box {
    background-color: red;
}