.search_input {
    outline: none;
    border: 1px solid black;
    padding: 10px 10px;
    width: -webkit-fill-available;
    font-size: 12px;
}
.search_pop_icon {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-50%, -42%);
}
.cross_icon {
    /* display: none; */
    cursor: pointer;
}
.search_main {
    width: 40%;
    margin: auto;
    text-align: center;
}
.indian_sta{
    padding-bottom: 10px;
}
.search_content{    
    position: absolute;
    top: calc(0px + 37px);
    box-shadow: 0 0 5px 0 rgb(0 0 0 / 40%);
    background-color: white;
    width: -webkit-fill-available;
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
    outline: none;
}
.searchItem{
    padding: 10px 10px;
    font-family: sans-serif;
    font-size: 14px;
    text-align: left;
}
.show_error {
    padding-top: 6px;
    color: red;
}